body{
    background-color: black;
    margin: 0%;
    align-items: center;
    align-content: center;
}

h1{
    margin-left: 6%;
    margin-right: 6%;
    color: white;
    display: block;
}

h3{
    color: white;
    text-align: center;
}

.item{
    margin: 29px 10% 1px 10%;
    border: solid 3px #ff6f7d;
    border-radius: 20px;
    color: #ffffff;
    width: 80%;
    text-align: center;
    align-items: center;
    display: inline-block;
}

.item p{
    float: left;
}

.item .description{
    text-align: left;
    width: 68.9%;
    color: white;
    padding-left: 15px;
}

.item .cost{
    display: table-cell;
    width: 28.8%;
    color: #ff6f7d;
}

.minimumCost{
    color: #4195b4;
    border: solid 1px #4195b4;
    border-radius: 30px;
    padding: 3px 10px 3px 10px;
    width: 20%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

button{
    display: inline;
    background-color: #ff6f7d;
    border: solid 1px transparent;
    border-radius: 30px;
    padding: 15px 0px 15px 0px;
    color: #ffffff;
    min-width: 20%;
    margin-bottom: 15px;
}